.grey-box {
  display: flex;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 280px;
  height: fit-content;
  padding: 25px;
}
.qr-code {
  border-radius: 10px;
  width: 100%;
}

p {
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.upper {
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 0px;
}
.lower {
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
